@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow: hidden;
  height: 100%;
  background-color: #020617;
}

/* Transisi halus untuk scroll horizontal */
.scroll-smooth {
  scroll-behavior: smooth;
}
html, body {
  scroll-behavior: smooth;
  background-color: #020617;
}

/* Menyembunyikan scrollbar bawaan browser agar deck presentasimu terlihat bersih total */
::-webkit-scrollbar {
  display: none;
}